@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = @localizer["Title"];
}

<section id="about" class="about">

    <div class="container">
        <div class="row gy-4">
            <h1>@ViewData["Title"]</h1>

            <p>
                @localizer["Context1"]
            </p>
            <p>
                @localizer["Context2"]
            </p>
            <p>
                @localizer["Context3"]
            </p>
            <p>
                @localizer["Context4"]
            </p>
            <ul>
                <li>@localizer["Context5"]</li>
                <li>@localizer["Context6"]</li>
                <li>@localizer["Context7"]</li>
            </ul>
            <p>@localizer["Context8"]</p>
            <ul>
                <li>@localizer["Context9"]</li>
                <li>@localizer["Context10"]</li>
                <li>@localizer["Context11"]</li>
                <li>@localizer["Context12"]</li>
                <li>@localizer["Context13"]</li>
                <li>@localizer["Context14"]</li>
            </ul>
            <p>
                @localizer["Context15"]
            </p>
        </div>
    </div>

</section>