@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<DerinceSeyahat.Models.Arac>

@{
    ViewData["Title"] = @localizer["Title"];
}

<section class="about">
    <h1>@localizer["ListofVehicle"]</h1>

    <p>
        <a asp-action="Create">@localizer["Create"]</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AracMarka)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AracModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AracKapasite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AracAdet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AracImage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AracMarka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AracModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AracKapasite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AracAdet)
                    </td>
                    <td>
                        <img src="@Url.Content(item.AracImage)" class="d-block w-50" asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AracId">@localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.AracId">@localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.AracId">@localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>